/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%);
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(0, 0%, 0%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(0, 0%, 0%);
  --text-color-light: hsl(0, 1%, 33%);
  --body-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Red Hat Display", sans-serif;
  --second-font: "Kaushan Script", cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin: 0 auto;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}
/***** Navbar Style *****/
.sectionImage {
  background-image: url("./img/1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  width: 100%;
  background-color: transparent;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 30px 0;
}
#header h2 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
#header .nav {
  display: flex;
  align-items: center;
}
#header .nav .navList {
  padding: 0 10px;
}
#header .nav .navList a {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}
/***** End Navbar Style *****/
/***** Header Section *****/
#main {
  padding: 90px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
}
#main .leftSide {
  width: 60%;
  margin-left: 95px;
}
#main .leftSide h2 {
  font-size: 72px;
  color: #fff;
  font-weight: 500;
}
#main .leftSide p {
  font-size: 13px;
  color: #fff;
  margin-top: 13px;
}
#main .leftSide button {
  margin-top: 50px;
  padding: 12px 30px;
  background: #fff;
  color: red;
  font-size: 13px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid rgb(236, 236, 236);
}
#main .rightSide {
  width: 40%;
}
#main .rightSide img {
  width: 70%;
  margin-top: 90px;
}
/***** End Header Section *****/
/***** Maine *****/
#welcome {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#welcome .welcomeLeft {
  width: 50%;
  height: 80vh;
  position: relative;
}

#welcome .welcomeLeft .img1 {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 50px rgb(211, 211, 211);
}
#welcome .welcomeLeft .img2 {
  width: 40%;
  position: absolute;
  top: 70px;
  left: 24%;
  box-shadow: 1px 1px 50px rgb(211, 211, 211);
}
#welcome .welcomeRight {
  width: 50%;
}
#welcome .welcomeRight h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  display: flex;
  align-items: center;
}
#welcome .welcomeRight h2 div {
  width: 10px;
  height: 10px;
  background-color: red;
  margin-top: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
#welcome .welcomeRight p {
  font-size: 12px;
  line-height: 20px;
}
#welcome .leftSide {
  width: 50%;
  height: 80vh;
  position: relative;
}
#welcome .leftSide .img2 {
  width: 40%;
  position: absolute;
  top: 70px;
  right: 24%;
  box-shadow: 1px 1px 50px rgb(211, 211, 211);
}
#welcome .leftSide .img1 {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 1px 1px 50px rgb(211, 211, 211);
}
#displayComment {
  padding: 90px 0;
}
#displayComment h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
#displayComment h2 div {
  width: 10px;
  height: 10px;
  background-color: red;
  margin-top: 30px;
  border-radius: 50%;
  margin-left: 5px;
}
.parant {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.commentText1 {
  /* box-shadow: 1px 1px 50px rgb(224, 224, 224); */
  border: 1px solid gray;
  border-right: none;
  border-bottom: none;
  width: 320px;
  padding: 30px;
}
.commentText2 {
  /* box-shadow: 1px 1px 50px rgb(224, 224, 224); */
  border: 1px solid gray;
  border-left: none;
  border-bottom: none;
  width: 320px;
  padding: 30px;
}

.commentTextmedul {
  box-shadow: 1px 1px 50px rgb(224, 224, 224);
  width: 320px;
  padding: 30px;
}
.commentTextmedul p,
.commentText1 p,
.commentText2 p {
  font-size: 11px;
  line-height: 23px;
  margin-bottom: 5px;
}
.commentTextmedul a,
.commentText1 a,
.commentText2 a {
  font-size: 13px;
  color: red;
  font-weight: bold;
}
.array {
  width: 20px;
  height: 20px;
  background-color: black;
}
/**/

.commentPersone {
  margin-top: 20px;
  display: flex;
  align-content: center;
  gap: 15px;
}
.commentPersone img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.commentPersone .div {
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.commentPersone .div h6 {
  font-size: 12px;
  margin-bottom: 2px;
}
.commentPersone .div span {
  font-size: 10px;
}
/***** About App *****/
#aboutApp {
  background-color: #de173f;
  margin-top: 80px;
  position: relative;
}
.aboutApp2 {
  width: 625px;
  height: 300px;
}
.aboutApp2 img {
  position: absolute;
  top: -57px;
  left: 41%;
  width: 253px;
}
.alignDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.appFunction {
  display: flex;
}
.appFunction img {
  width: 30px;
  height: 30px;
  color: white;
}
.aboutApp1 {
  padding: 0 60px 0 0;
}
.aboutApp1 .appDe h3 {
  font-size: 24px;
  color: white;
  line-height: 40px;
  text-align: right;
}
.aboutApp3 .appDe h3 {
  font-size: 24px;
  color: white;
  line-height: 40px;
  text-align: left;
}
.aboutApp1 .appDe p {
  font-size: 10px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
.aboutApp3 .appDe p {
  font-size: 10px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.appFunction {
  position: relative;
}
.aboutApp1 .appFunction img {
  position: absolute;
  top: 6px;
  right: -51px;
}
.aboutApp3 .appFunction img {
  position: absolute;
  top: 6px;
  left: -51px;
}
.p {
  margin-bottom: 20px;
}
/***** End About App *****/
/***** subscrive *****/
#lastSection {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lastSection h2 {
  padding-bottom: 20px;
  font-size: 50px;
}
#lastSection p {
  padding-bottom: 20px;
  font-size: 14px;
}
.div {
  display: flex;
  align-items: center;

  flex-direction: column;
  height: 40px;
}
.from {
  background: rgb(233, 233, 233);
  width: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.from input {
  width: 60%;
  border: none;
  background: transparent;
  outline: none;
  padding: 8px 20px;
  font-size: 12px;
}

.from button {
  width: 38%;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(red, rgb(158, 3, 3));
  border: none;
}
/***** End subscrive *****/
#appDwonlod {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#appDwonlod h2 {
  font-size: 50px;
  padding: 30px 0;
}
#appDwonlod .des {
  font-size: 14px;
  padding-bottom: 20px;
}
.dicon {
  width: 110px;
}
.layer {
  width: 120px;
  padding-bottom: 30px;
}
.copy {
  padding: 10px;
  color: rgb(155, 153, 153);
}
/***** End Maine *****/
